<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>115436920855-l061q8a7hmu2ovg6gffds2l7m6nr0ccg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqlHm7MoOrmI1udM6Gg9lbXxgT3IFkIiA</string>
	<key>GCM_SENDER_ID</key>
	<string>115436920855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spAi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chrain-2cfd9</string>
	<key>STORAGE_BUCKET</key>
	<string>chrain-2cfd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115436920855:ios:cf70fe1f5499725a683c52</string>
</dict>
</plist>